.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 15px;
}

.container{
  padding: 40px;
}

.centerContent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons{
  margin-left: 10px;
}

.total{
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  padding: 8;
}